.help-block{
	color : #dc3545!important;
}

.pull-right{
	float : right;
}

.pull-left{
	float : left;
}

.no-wrap{
	white-space:nowrap;
}
.d-border-right{
	border-right: 1px solid #dee2e6;
}
.d-border-left{
	border-left: 1px solid #dee2e6;
}
.requiredAsterisk:after { content:"*";color:#dd4b39; }

.openBtn{
	float: right;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #fff;
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    padding: 0px;
    background: #00a65a;
    border-radius: 50%;
	outline:none;
}

.child{
	background-color : rgba(121, 151, 170, 7.8) !important;
}

.closeBtn{
	float: right;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #fff;
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    padding: 0px;
    background: #d73925;
    border-radius: 50%;
	outline:none;
}

.openBtn:focus,.closeBtn:focus{
	border:none;
}